:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte: 'Alata', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}